[project]
	description = Pure-Go HBase client
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Benoit Sigoure (tsuna)
[access "refs/for/refs/*"]
	read = group user/Benoit Sigoure (tsuna)
	push = group user/Benoit Sigoure (tsuna)
	label-Code-Review = -2..+2 group user/Benoit Sigoure (tsuna)
	label-Code-Review = -2..+2 group user/Derek Gonyeo (dgonyeo)
	label-Verified = -1..+1 group user/Benoit Sigoure (tsuna)
	label-Verified = -1..+1 group user/Derek Gonyeo (dgonyeo)
	rebase = group user/Benoit Sigoure (tsuna)
	removeReviewer = group user/Benoit Sigoure (tsuna)
	submit = group user/Benoit Sigoure (tsuna)
[access "refs/heads/*"]
	read = group user/Benoit Sigoure (tsuna)
	create = group user/Benoit Sigoure (tsuna)
	push = +force group user/Benoit Sigoure (tsuna)
	pushMerge = group user/Benoit Sigoure (tsuna)
[access "refs/tags/*"]
	push = +force group user/Benoit Sigoure (tsuna)
	pushTag = group user/Benoit Sigoure (tsuna)
	pushSignedTag = group user/Benoit Sigoure (tsuna)
[submit]
	action = rebase if necessary
[receive]
	requireChangeId = true
